.typewriter p::after {
  content: "|";
  color: transparent;
}

.typewriter p:last-of-type::after {
  color: var(--color-caret);
  animation: blink-caret 1s steps(1) infinite;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}
